<?xml version="1.0" encoding="UTF-8"?>
<!--
  Deux suites, une par niveau de test automatisé, cf. docs/strategie-de-test.md §9.
  Le troisième niveau, « bout en bout », relève de Behat et n'est pas décrit ici.
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="Domaine">
            <directory>tests/Domaine</directory>
        </testsuite>
        <testsuite name="Application">
            <directory>tests/Application</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
